@import url(./globals.css);

html {
  font-size: 120%;
}

body {
  background: var(--app-color-black);
  background-image: url(../assets/background-homepage.svg);
  background-position: top left;
  background-size: 100%;
  background-repeat: no-repeat;
}

* {
  color: var(--app-color-white);
}

*::selection {
  background-color: var(--app-color-white);
  color: var(--app-color-black);
}

h1 {
  margin-top: 1rem;

  font-size: 5.625rem;
}

.blob {
  position: absolute;
  z-index: -1;

  filter: invert(0.2);

  max-width: 300px;
}

.center-heading {
  display: flex;
  justify-content: center;
}

.profile {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.profile img {
  border-radius: 50%;
}

.profile h2 {
  text-align: center;
  font-size: 2.618rem;
  padding-top: 30px;
}

.group {
  display: flex;
  justify-content: space-around;

  margin: 8rem 0;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1rem;

  margin: 1rem;
}

.icons a {
  text-decoration: none;
  color: #fff;
}

.icons a img {
  height: 2rem;
  width: 2rem;

  filter: invert(0.95);

  transition: transform 200ms ease;
}

.icons a img:hover {
  transform: scale3d(1.2, 1.2, 1.2);
}

.resume-link {
  display: block;

  text-decoration: none;
  text-transform: uppercase;

  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;

  margin: 0.25rem;
  margin-top: 0.7rem;
  padding: 0.6rem 4rem;

  box-shadow: 0 0 0 3px var(--app-color-white);

  transition: all 0.2s ease-in;
}

.resume-link:hover {
  background-color: #fff;
  color: #070000;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  padding: 1rem;
}

footer img {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
}
