@import url(./globals.css);

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(222, 10%, 25%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(222, 10%, 40%);
}

::-webkit-scrollbar-thumb:active {
  background-color: hsl(222, 10%, 60%);
}

a:visited {
  color: var(--color-contrast);
}

a[href]:not(.scroll-down) {
  --distance: calc(50% - 0.375rem);
  --opacity: 0.35;
  --duration: 100ms;
  --easing: ease-in;

  font-weight: 600 !important;

  color: var(--color-contrast);

  text-decoration: none;

  padding: 0 0.25rem;

  background-image: linear-gradient(
    transparent 0%,
    transparent var(--distance),
    hsla(var(--color-contrast-hsl), var(--opacity)) var(--distance),
    hsla(var(--color-contrast-hsl), var(--opacity)) 100%
  );
  background-size: 100% 200%;
  background-position: 0 0;

  transition: color var(--duration) var(--easing), background-position var(--duration) var(--easing),
    background-image var(--duration) var(--easing), border-radius var(--duration) var(--easing),
    --opacity var(--duration) var(--easing);
}

a[href]:not(.scroll-down):hover,
a[href]:not(.scroll-down):focus-visible {
  background-position: 0 100%;

  color: var(--color);
  font-weight: 600 !important;

  border-radius: 0.25rem;

  --opacity: 1;
}

.back-to-home {
  display: block;

  position: absolute;
  right: 5rem;
  top: 5rem;

  filter: invert(0.95);

  z-index: 10;
}

.heading {
  position: relative;
}

.heading::before,
.heading::after {
  content: '';
  position: absolute;

  height: 3px;
  background-color: var(--color-contrast);
}

.heading::before {
  left: 10%;
  bottom: 0%;

  width: 80%;
}

.heading::after {
  left: 20%;
  bottom: -15%;

  width: 60%;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.75rem;
}

.about-section {
  position: relative;

  width: 100%;
  height: 100vh;

  background-color: var(--color);
  color: var(--color-contrast);
}

.about-section *::selection {
  background-color: var(--color-contrast);
  color: var(--color);
}

.about-section:nth-child(2n + 1) {
  --color: var(--app-color-black);
  --color-hsl: var(--app-color-black-hsl);
  --color-contrast: var(--app-color-white);
  --color-contrast-hsl: var(--app-color-white-hsl);
}

.about-section:nth-child(2n) {
  --color: var(--app-color-white);
  --color-hsl: var(--app-color-white-hsl);
  --color-contrast: var(--app-color-black);
  --color-contrast-hsl: var(--app-color-black-hsl);
}

.about-section .inner {
  position: absolute;
  z-index: var(--elevation);

  display: grid;
  grid-template-columns: 1fr;

  overflow: hidden;

  padding: 0;

  width: 100%;
  height: 100%;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@supports (-webkit-overflow-scrolling: touch) {
  .about-section .inner {
    clip: unset;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.about-section .inner .content {
  position: fixed;
  top: 0;

  -webkit-transform: scale3d(1, 1, 1);
  transform: scale(1);

  background-attachment: fixed;

  height: calc(100% - 2vh);
  width: calc(100%);

  display: grid;
  place-items: center;
}

.scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 3rem;

  height: 37px;
  width: 21px;

  border-radius: 12px;

  box-shadow: 0 0 0 2px var(--color-contrast);
}

.scroll-down .dot {
  height: 4px;
  width: 4px;

  border-radius: 50%;

  background-color: var(--color-contrast);

  transform: translateY(-7px);

  animation: dot 2s infinite;
}

@keyframes dot {
  0% {
    transform: translateY(-7px);
  }
  80% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(-7px);
  }
}

/* Style the different sections here */
#intro .main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: initial;

  width: 80%;
}

#intro .main .image img {
  width: 400px;
  height: 400px;
  object-fit: contain;
  border-radius: 50%;
}

#experience .inner .content {
  place-items: start;
  justify-items: center;

  padding-top: 2rem;
}

#experience .experience-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
  justify-items: initial;

  width: 80%;
}

#experience .experience-list .experience-box {
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-items: initial;

  width: 100%;
}

#experience .experience-list .experience-box > div {
  height: 100%;
}

#experience .experience-list .experience-box > div > time {
  font-size: 1.5rem;
  font-weight: 600;
}

#experience .experience-list .experience-box h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

#experience .experience-list .experience-box .department {
  font-size: 1.2rem;
}

#education .inner .content {
  place-items: start;
  justify-items: center;

  padding-top: 2rem;
}

#education .education-list {
  width: 100%;

  display: flex;

  overflow-x: scroll;
  overscroll-behavior-x: none;

  scroll-snap-type: x mandatory;
}

#education .education-list .education-box {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 60vh;
  width: 100vw;

  flex: 0 0 100%;

  padding: 5rem 6rem;

  scroll-snap-align: start;
}

#education .education-list .education-box {
  font-size: calc(1.875rem * 0.8);
}

#education .carousal-dots {
  position: absolute;
  bottom: 4rem;
  left: 50%;

  transform: translateX(-50%);

  display: flex;
  gap: 0.5rem;
}

#education .carousal-dot {
  --size: 8px;
  height: var(--size);
  width: var(--size);

  background-color: hsla(var(--color-contrast-hsl), 0.5);

  cursor: pointer;

  border: none;
  border-radius: 50%;

  padding: 0;

  transition: backround-color 100ms ease-in;
}

#education .carousal-dot.visible {
  background-color: hsla(var(--color-contrast-hsl), 1);
}

#skills .inner .content {
  place-items: start;
  justify-items: center;

  padding-top: 2rem;
}

#skills .skills-chips {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;

  width: 60%;
}

#skills .skill-chip {
  font-size: 1.2rem;
  font-weight: 500;
  white-space: nowrap;

  width: auto;

  border-radius: 50px;
  box-shadow: 0 0 0 4px var(--color-contrast);

  padding: 0.75rem 1.5rem;
}

#footer {
  height: 100vh;
}

#footer .content {
  height: 100vh;

  top: initial;
  bottom: 0;

  place-items: start;
  justify-items: center;

  padding-top: 2rem;
}

#footer .social-media-links {
  display: flex;
  gap: 3rem;

  height: max-content;
  width: max-content;
}

#footer .social-media-links a {
  all: unset;
  cursor: pointer;

  display: block;
}

#footer .social-media-links img {
  filter: invert(0.95);

  width: 5rem;
  height: auto;

  transition: transform 200ms ease;
}

#footer .social-media-links img:hover {
  transform: scale3d(1.2, 1.2, 1.2);
}
