@import url(./globals.css);

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 4.5rem;
}

.about-section {
  position: relative;

  width: 100%;
  height: 100vh;

  background-color: var(--color);
  color: var(--color-contrast);
}

.about-section *::selection {
  background-color: var(--color-contrast);
  color: var(--color);
}

.about-section:nth-child(2n + 1) {
  --color: var(--app-color-black);
  --color-contrast: var(--app-color-white);
}

.about-section:nth-child(2n) {
  --color: var(--app-color-white);
  --color-contrast: var(--app-color-black);
}

.about-section .inner {
  position: absolute;
  z-index: var(--elevation);

  display: grid;
  grid-template-columns: 1fr;

  overflow: hidden;

  padding: 0;

  width: 100%;
  height: 100%;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@supports (-webkit-overflow-scrolling: touch) {
  .about-section .inner {
    clip: unset;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.about-section .inner .content {
  position: fixed;
  top: 0;

  -webkit-transform: scale3d(1, 1, 1);
  transform: scale(1);

  background-attachment: fixed;

  height: calc(100% - 2vh);
  width: calc(100%);

  display: grid;
  place-items: center;
}

.scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 3rem;

  height: 37px;
  width: 21px;

  border-radius: 12px;

  box-shadow: 0 0 0 2px var(--color-contrast);
}

.scroll-down .dot {
  height: 4px;
  width: 4px;

  border-radius: 50%;

  background-color: var(--color-contrast);

  transform: translateY(-7px);

  animation: dot 2s infinite;
}

@keyframes dot {
  0% {
    transform: translateY(-7px);
  }
  80% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(-7px);
  }
}

/* Style the different sections here */
#intro .main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: initial;

  width: 80%;
}

#intro .main .image img {
  border-radius: 50%;
}
